<div class="container mt-5">
  <div class="card p-4 shadow">
    <h2 class="text-center mb-4">User Information</h2>
    <form [formGroup]="userInfoForm" (ngSubmit)="updateUserInformations()">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Current Weight (kg)</mat-label>
        <input
          matInput
          type="number"
          formControlName="weight"
          placeholder="Enter your current weight"
        />

        @if (userInfoForm.get('weight')?.hasError('required')) {<mat-error>
          Weight is required </mat-error
        >} @if (userInfoForm.get('weight')?.hasError('min')) {<mat-error>
          Minimum weight is 30 kg </mat-error
        >}
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Height (cm)</mat-label>
        <input
          matInput
          type="number"
          formControlName="height"
          placeholder="Enter your height"
        />
        @if (userInfoForm.get('height')?.hasError('required')) {<mat-error>
          Height is required </mat-error
        >} @if (userInfoForm.get('height')?.hasError('min')) {<mat-error>
          Minimum height is 100 cm </mat-error
        >}
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Goal</mat-label>
        <mat-select formControlName="goal">
          <mat-option value="lose">Lose Weight</mat-option>
          <mat-option value="gain">Gain Weight</mat-option>
          <mat-option value="maintain">Maintain Weight</mat-option>
        </mat-select>
        @if (userInfoForm.get('goal')?.hasError('required')) {
        <mat-error> Goal is required </mat-error>}
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="w-100"
        [disabled]="userInfoForm.invalid"
      >
        Save Information
      </button>
    </form>
  </div>
</div>
