.container {
  max-width: 800px;
}

.recipe-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

img {
  padding: 16px;
  border-radius: 25px;
}
.recipe-source {
  display: flex;
  gap: 4px;
}

mat-card-content ul {
  list-style: none;
  padding: 0;
}

mat-card-content li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
